*.pyc
__pycache__
.local/
*.pickle
*/.ipynb_checkpoints/*
.idea/*
datascience.egg-info/dependency_links.txt
datascience.egg-info/PKG-INFO
datascience.egg-info/requires.txt
datascience.egg-info/SOURCES.txt
datascience.egg-info/top_level.txt
